# Needed for chek and lint scripts
-e git+https://github.com/StackStorm/st2sdk.git@master#egg=st2sdk
pep8>=1.6.0,<1.7
flake8>=2.3.0,<2.4
pylint==1.5.5
pylint-plugin-utils>=0.2.3,<0.3
pyyaml<4.0,>=3.11
pyyaml<4.0,>=3.11
ruamel.yaml>=0.15
ipython
six
unittest2
xmljson==0.1.9
